html {
  font-size: 14px;
}
:root {
  --color-primary: #00b14f;
  --color-primary: #00007d;
}
body {
  margin: 0;
  padding: 50px 0;
  font-size: 14px;
  line-height: 1.4em;
  color: #666;
  font-family: roboto, Arial, sans-serif;
  background-color: #525659a0;
}
* {
  box-sizing: border-box;
}
a {
  color: #666;
  /* text-decoration: none; */
}
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.left-content {
  width: calc(100% * 5 / 12);
  padding: 10mm 6mm;
  background-color: #f2f8fd;
  float: left;
}
.full-name {
  font-size: 34px;
  line-height: 1em;
  text-transform: uppercase;
}
.position {
  font-size: 1.1rem;
}
.avatar {
  width: 160px;
  height: 160px;
  border: solid 2px var(--color-primary);
  border-radius: 50%;
  padding: 2px;
  margin: 0 auto 25px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: -3px -15px;
}
.information .info-item {
  margin-top: 6px;
}
.information .info-item i {
  width: 20px;
  color: var(--color-primary);
}
.skill-wrapper .skill-header {
  font-weight: 700;
  line-height: 30px;
}
.skill-wrapper .skill-desc,
.hobbies-wrapper .hobby {
  line-height: 25px;
}
/*  */
.right-content {
  width: calc(100% * 7 / 12);
  padding: 10mm 6mm;
  float: left;
  background-color: #fff;
  height: 100%;
}
.objective-desc {
  line-height: 25px;
}
.job-wrapper:not(:last-child) {
  margin-bottom: 20px;
}
.job-wrapper .job-timeline {
  display: flex;
  justify-content: space-between;
}
.job-wrapper .title {
  font-weight: 700;
  color: #555;
  font-size: 16px;
}
.job-wrapper .timeline {
  color: #9c9c9c;
  font-style: italic;
  white-space: nowrap;
}
.job-wrapper .company-name {
  color: #9c9c9c;
  line-height: 30px;
}
.job-wrapper .job-desc {
  line-height: 25px;
  text-align: justify;
}
.job-wrapper .job-sub-desc {
  font-weight: 700;
}
.copyright {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 13px;
  color: #9c9c9c;
  font-style: italic;
}
/*  */
.mb-5 {
  margin-bottom: 5px;
}
.mb-15 {
  margin-bottom: 15px;
}
.color-primary {
  color: var(--color-primary);
}
.ta-center {
  text-align: center;
}
.ta-justify {
  text-align: justify;
}
.header span {
  font-size: 20px;
  color: var(--color-primary);
  font-weight: 600;
}
.divider {
  width: 100%;
  height: 2.5px;
  background-color: #ffe8c4;
}
.py-20 {
  padding: 20px 0;
}
