:root {
  --color-primary: #003c72;
  --color-text: #444;
  --color-disabled: #999;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: var(--color-text);
  font-family: monospace, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p {
  padding: 0;
  margin: 0;
}

section:not(:first-child) {
  margin-top: 30px;
  .header {
    position: relative;
    display: block;
    margin-bottom: 12px;
    font-size: 24px;
    color: var(--color-primary);
    font-weight: 600;
    &::after {
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      background-color: #d4d4d4;
      margin-top: 6px;
    }
  }
}

.container {
  max-width: 800px;
  margin: auto;
  position: relative;
  /* padding: 30px 0; */
}

.full-name {
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--color-primary);
}

.position {
  font-size: 16px;
  color: var(--color-primary);
}
.information {
  display: flex;
  flex-wrap: wrap;
  .info-item {
    margin-top: 6px;
    flex: 1 0 50%;
    width: 20px;
  }
}

.skill-header {
  font-weight: 700;
  line-height: 30px;
}

.milestone-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 24px;
  .timeline {
    width: 180px;
    color: var(--color-disabled);
    white-space: nowrap;
  }
  .detail {
    flex: 1;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .organization {
    font-size: 15px;
    font-style: italic;
    color: var(--color-disabled);
    a {
      color: var(--color-disabled);
    }
  }

  .desc {
    margin-top: 8px;
    text-align: justify;
    p {
      margin-top: 2.2px;
    }
  }
}
